/* resets */
@import url(resets/normalize.css);
@import url(resets/reset.css);
/* fim resets */
/* cabecalho */
@import url(atomos/cabecalho/cabecalho.css);
@import url(atomos/cabecalho/cabecalho-logo.css);
@import url(atomos/cabecalho/cabecalho-lista.css);
@import url(atomos/cabecalho/cabecalho-item.css);
@import url(atomos/cabecalho/cabecalho-link.css);
/* fim cabecalho */
/* hero */
@import url(atomos/hero/hero.css);
@import url(atomos/hero/hero-imagem.css);
@import url(atomos/hero/hero-titulo.css);
/* fim hero */
/* banner */
@import url(atomos/banner/banner.css);
@import url(atomos/banner/banner-titulo.css);
@import url(atomos/banner/banner-texto.css);
/* fim banner */
@import url(atomos/receitas/receitas.css);
@import url(atomos/receitas/receita.css);
@import url(atomos/receitas/receita-imagem.css);
@import url(atomos/receitas/receita-conteudo.css);
@import url(atomos/receitas/receita-titulo.css);
@import url(atomos/receitas/receita-descricao.css);
@import url(atomos/receitas/receita-botao.css);




:root {
    --cinza-cabecalho: #F8F9FA;
    --cinza-fundo-receitas: #F0F0F0;
    --cinza-fontes: #8C8888;
    --cinza-roda-pe: #C4C4C4;
    --vermelho: #8D0606;
    --branco: #ffffff;
    --preto: #000000;
    --botao-hover: #fce0e0;
}



/* sobre */
.sobre {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem;
}

.sobre__titulo {
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 3.188rem;
    color: var(--vermelho);
    padding-bottom: 2rem;
}

.sobre__descricao {
    text-align: center;
    font-weight: 300;
    color: var(--cinza-fontes);
    font-size: 1.75rem;
}

.sobre__pessoas {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

.pessoa {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}
.pessoa__imagem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin: 0 auto;
    height: 300px;
    width: 300px;
}

.pessoa__imagem--roberta {
    background-image: url(../img/pessoas/roberta.jpg);
}
.pessoa__imagem--marcela {
    background-image: url(../img/pessoas/marcela.jpg);
}
.pessoa__imagem--andreia {
    background-image: url(../img/pessoas/andreia.jpg);
}

.pessoa__nome {
    font-family: "Pacifico", cursive;
    padding-top: 1rem;
    font-size: 2rem;
    color: var(--vermelho);
}

.pessoa__funcao {
    color: var(--cinza-fontes);
text-transform: lowercase;
}